<div class="main">
  <h1>{{title}}</h1>
  <div>Score: {{score}}</div>
  <div>Best Score: {{bestScore}}</div>
  <app-gameboard class="app-gameboard" [board]="gameBoard"></app-gameboard>
  <div class="shapes">
    <app-shape *ngFor="let s of shapes; let i = index"
      [shape]="s"
      [id]="i"
      (dropEvent)="shapeDropped($event)">
    </app-shape>
  </div>
  <div *ngIf="gameOver" class="game-over">
    <div>Game Over!</div>
    <div><input type="button" (click)="newGame()" value="New Game"/></div>
  </div>
</div>